/* Login area css code */

.body {font-family: Arial, Helvetica, sans-serif;}
.form {border: 3px solid #f1f1f1;}

.input[type=text], input[type=password] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.button {
  background-color: #04AA6D;
  color: white;
  padding: 6px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}





.container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  margin: auto;
  width: auto;
  border: 3px solid green;
  padding: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}





/* WovenPlaningDashboard responsive css code */


.wovenBtn{
  color: red;
  margin-right: 50%;
}

.buttonCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




/* .a {
  table-layout: fixed;
  width: 300px;  
} */
.b{
  width:130px;
}
.a{
  width: 10px;
}
.c{
  width: 275px;
}

.app-background{
  background-color: #fff;
}

.woven{
  color: #fff;
}

.select{
  color:#336699;
}

/* .textBox{
  background-color: #66ff33;
} */

.backgroundColour{
  background-color: #1a8cff;
}

.workOrder{
  color: #e62e00;
}

.wrapper {
  text-align: center;
}



.startButton{
  
    display:flex;
    justify-content:center;
    /* align:center; */
  
}

